@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css?display=swap');

* {
	box-sizing: border-box;
	font-family: 'Droid Arabic Kufi';
}

html {
	scroll-behavior: smooth;
	position: relative;
	min-height: 100%;
}

h2 {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #33485d;
}

.white-box {
	color: #33485d;
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.white-box:hover {
	background-color: #ededed;
}

.white-box i {
	margin-bottom: 25px;
	font-size: 30px;
}

main {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.logo {
	max-width: 100px;
	max-height: auto;
}
a {
	text-decoration: none;
	cursor: pointer;
	text-align: center;
}

.content {
	flex-grow: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.visitors {
	margin-bottom: 20px;
}
