@import url("https://fonts.googleapis.com/earlyaccess/droidarabickufi.css?display=swap");

* {
  box-sizing: border-box;
  font-family: "Droid Arabic Kufi";
  /* transition: all ease 0.5s; */
}

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

:root {
  --bg-color: #f5f7fe;
  --dark: #33485d;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

nav {
  background-color: var(--dark);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 3px #ccc;
}
nav a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
nav .logo {
  max-width: 50px;
  max-height: auto;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 220px;
}

.illustration {
  font-size: 0.6em;
}

.out-box-show {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.out-box-hide {
  display: none;
}

.like-us {
  padding-top: 20px;
}
.like-us a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.choicesbox > div > label {
  text-align: center;
}

input[type="checkbox"],
.choicesbox > div > label {
  cursor: pointer;
}

textarea {
  width: 100%;
  resize: vertical;
  /* height: 150px; */
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border: 0px solid #ccc;
  border-bottom-width: 1px;
  border-radius: 10px 10px 0px 0px;
  /* background-color: #f8f8f8; */
  background-color: #fff;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

.textarea-box {
  width: 100%;
  margin: 20px 0px;
}

#output_str {
  border-radius: 10px;
  box-shadow: 1px 2px 3px #ccc;
}

.shadow {
  border-radius: 10px;
  box-shadow: 1px 2px 3px #ccc;
}

.choicesbox {
  background-color: #fff;
  width: 100%;
  display: flex;
  padding: 10px;
  margin-top: -10px;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid #ccc; */
  border-radius: 0px 0px 10px 10px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-align: center;
  font-size: 1em;
  min-width: 165px;
  transition: all ease 0.3s;
}

button i {
  margin-right: 15px;
}

button:hover {
  background-color: green;
}

.blue-btn {
  background-color: #418bca;
}

.blue-btn:hover {
  background-color: #0069d9;
}
.output_str {
  direction: rtl;
}

.action_btn {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.action_btn button {
  text-align: center;
  margin: 0px 10px;
}

footer {
  background-color: #33485d;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer p {
  margin: 0px 0px 10px 0px;
}

footer .logo {
  max-width: 100px;
  max-height: auto;
}

footer h2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

footer div {
  padding-top: 10px;
}

.social-links{
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 640px) {
  main {
    margin-bottom: 350px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  .choicesbox{
    flex-direction: column;
    align-items: flex-start;
  }
}


@media screen and (max-width: 374px) {
  main {
    margin-bottom: 400px;
  }
}
