@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css?display=swap');

* {
	box-sizing: border-box;
	font-family: 'Droid Arabic Kufi', 'Arial', sans-serif, Courier, monospace;
}

html {
	scroll-behavior: smooth;
	position: relative;
	min-height: 100%;
}

:root {
	--bg-color: #00c310;
	--light-blue: #5296cf;
	--primary: #33485d;
	--dark: #1e2b3c;
	--green: #28a745;
	--teal: #20c997;
}
.a {
	/* background-color: #ff0000; */
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
}
/* === ScrollBar === */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
	/* border-radius: 5px */
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* ========== NavBar ========== */
nav {
	background-color: var(--primary);
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 1px 2px 3px #ccc;
}
nav a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}
nav .logo-link {
	display: flex;
	color: white;
	font-size: 16px;
}
nav .logo {
	max-width: 50px;
	max-height: auto;
}
nav .nav-title {
	width: 100%;
	font-size: 1.2em;
	margin: 0px;
	margin-right: -50px;
	padding: 0px;
	text-align: center;
	color: #fff;
}

/* ========== Main ========== */
/* ========== Horizontal Slider ========== */
.slider-container {
	width: 100%;
	display: flex;
	user-select: none;
	flex-wrap: nowrap;
	overflow-y: auto;
	cursor: pointer;
	gap: 10px;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.slider-container::-webkit-scrollbar {
	display: none;
}

.slider-container h3 {
	margin: 0;
	margin-top: 10px;
	font-size: 1em;
}

.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;

	background-color: var(--dark);
	color: #fff;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.25);
	width: 190px;
	min-width: 190px;
	transition: all ease 0.3s;
}
.slide i {
	font-size: 2em;
}

.slide:hover {
	background-color: var(--primary);
	cursor: pointer;
}

.active-slide {
	background-color: var(--light-blue);
	border: 4px solid var(--primary);
}
.active-slide:hover {
	background-color: var(--light-blue);
}

#serviceTitle {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#serviceDescription {
	text-align: center;
	margin-top: 10px;
}

main {
	padding: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 220px;
}

/* ========== textarea ========== */
.textarea-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

textarea {
	width: 100%;
	resize: none;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border: 0px solid #ccc;
	border-bottom-width: 1px;
	border-radius: 10px;
	background-color: #fff;
	font-size: 16px;
	box-shadow: 1px 2px 3px #cccccc66;
	direction: rtl;
	flex: 1;
}

textarea:focus {
	outline: none;
}

.outputTextArea {
	background-color: #f5f5f5;
}

.output-actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 15px;
}

/* ========== Buttons ========== */
button {
	background-color: #4caf50;
	color: white;
	padding: 5px 30px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1em;
	min-width: 165px;
	text-align: center;
	transition: all ease 0.3s;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

button:hover {
	background-color: green;
}

.blue-btn {
	background-color: #418bca;
}

.blue-btn:hover {
	background-color: #0069d9;
}

.action_btn {
	direction: rtl;
	padding: 10px;
}

.output-actions button {
	background: transparent;
	color: var(--light-blue);
	border: 2px solid var(--light-blue);
}
.output-actions button:hover {
	background-color: var(--light-blue);
	color: #fff;
}

/* ========== Footer ========== */
footer {
	background-color: #33485d;
	color: #fff;
	padding: 10px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: 1px -2px 3px #ccc;
}

footer a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

footer p {
	margin: 0px 0px 10px 0px;
}

footer .logo {
	max-width: 100px;
	max-height: auto;
}

footer h2 {
	margin: 0px;
	margin-bottom: 10px;
	font-size: 1.1em;
}

footer div {
	padding-top: 10px;
}

footer .social-links {
	padding: 0px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

@media screen and (max-width: 640px) {
	main {
		margin-bottom: 385px;
	}
	footer {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 374px) {
	main {
		margin-bottom: 400px;
	}
}
